
{script}
{literal}
    $(document).ready(function(){
        var $tb_container = $(".ow_box_toolbar_cont", $("#photo_list_widget").parents('.ow_box, .ow_box_empty').get(0));

        $("#photo-widget-menu-featured").click(function(){
        	$tb_container.html($("div#photo-widget-toolbar-featured").html());
        });

        $("#photo-widget-menu-latest").click(function(){
            $tb_container.html($("div#photo-widget-toolbar-latest").html());
        });

        $("#photo-widget-menu-top-rated").click(function(){
            $tb_container.html($("div#photo-widget-toolbar-top-rated").html());
        });
    });
{/literal}
{/script}

<div id="photo_list_widget">

	{if $latest || $featured || $toprated} {if isset($menu)}{$menu}{/if} {/if}
	
	{capture assign='nocontent'}
	   <div class="ow_nocontent">{text key='photo+no_photo'}, <a href="{url_for for="PHOTO_CTRL_Upload:index"}">{text key='photo+add_new'}</a></div>
	{/capture}
	
	<div class="ow_lp_photos ow_center" id="{$items.latest.contId}">
		{foreach from=$latest item='p'}<a class="ow_lp_wrapper" href="{url_for_route for="view_photo:[id=>`$p.id`]"}"><img src="{$p.url}" /></a>{foreachelse}
            {$nocontent}
		{/foreach}
	</div>

    {if $featured}
	<div class="ow_lp_photos ow_center" id="{$items.featured.contId}" style="display: none">
		{foreach from=$featured item='p'}<a class="ow_lp_wrapper" href="{url_for_route for="view_photo:[id=>`$p.id`]"}"><img src="{$p.url}" /></a>{foreachelse}
            {$nocontent}  
		{/foreach}
	</div>
	{/if}
	
	<div class="ow_lp_photos ow_center" id="{$items.toprated.contId}" style="display: none">
	    {foreach from=$toprated item='p'}<a class="ow_lp_wrapper" href="{url_for_route for="view_photo:[id=>`$p.id`]"}"><img src="{$p.url}" /></a>{foreachelse}
            {$nocontent}   
	    {/foreach}
	</div>

    {if $latest}<div id="photo-widget-toolbar-latest" style="display: none">{decorator name='box_toolbar' itemList=$toolbars.latest}</div>{/if}
    {if $featured}<div id="photo-widget-toolbar-featured" style="display: none">{decorator name='box_toolbar' itemList=$toolbars.featured}</div>{/if}	
    {if $toprated}<div id="photo-widget-toolbar-top-rated" style="display: none">{decorator name='box_toolbar' itemList=$toolbars.toprated}</div>{/if}
    
</div>