{form name='AJAXIMSettingForm'}

<table class="ow_table_1 ow_form">
    <tr>
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_chat">{text key='ajaxim+general_settings_title'}</span>
        </th>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">{text key='ajaxim+settings_friends_only_label'}</td>
        <td class="ow_value">
            {input name='friends_only'}
        </td>
        <td class="ow_desc ow_small"></td>
    </tr>
    <tr><td colspan="3" class="ow_submit">{submit name='save' class='ow_ic_save'}</td></tr>
</table>

{/form}