<div class="ow_narrow ow_automargin" >
{block_decorator name='box_cap' type='empty' iconClass='ow_ic_trash' langLabel='admin+themes_add_new_box_cap_label'}{/block_decorator}
{block_decorator name='box' type='empty' addClass='ow_stdmargin'}
{form name='theme-add'}
<table class="ow_form" style="width: 100%;">
       <tr>
           <td class="ow_input" style="text-align: center;">{input name='file'}</td>
       </tr>
       <tr>
           <td style="text-align: center;padding-top: 5px;">{submit name='submit'}</td>
       </tr>
   </table>
{/form}
{/block_decorator}
</div>