{style}
{literal}
.ow_forgot_password{
    margin:0 auto;
    padding:100px;
    width:350px;
}
{/literal}
{/style}
<div class="ow_forgot_password">
    {block_decorator name='box_cap' langLabel='base+reset_password_cap_label'}{/block_decorator}
    {block_decorator name='box'}
        <div style="padding: 0 5px 5px;">{$formText}</div>
        {form name='reset-password'}
        <div style="width: 250px;margin: 0 auto;">
        {label name='password'}{input name='password' class='ow_smallmargin'}
        {label name='repeatPassword'}{input name='repeatPassword' class='ow_smallmargin'}
        <div style="text-align: center;">{submit name='submit'}</div>
        </div>
        {/form}
    {/block_decorator}
</div>