<div class="ow_console clearfix">
   <div class="ow_console_body clearfix">
       <div style="float:left;">
       </div>

       <div style="float:right;">
           <div class="console_item"><div class="fake_node">{$sign_in}</div></div>
           {if $connectButtonList}
           <div class="console_item"><div class="fake_node">{$connectButtonList}</div></div>
           {/if}
           {if $switchLanguage}
            <div class="console_item common_shortcuts">
                <div class="fake_node">
                {$switchLanguage}
                </div>
            </div>
           {/if}
       </div>

   </div>
</div>