<div style="padding:100px;50px;">
	<div style="width:350px;margin:0 auto;">
        <div class="ow_box_cap">
            <h3>Sign In</h3>
        </div>
        <div class="ow_box">
            {form name='sign-in-form'}
            	{label name='identity'}
                {input name='identity'}
                {error name='identity'}
                {label name='password'}
                {input name='password'}
                {error name='password'}
                {input name='submit'}
            {/form}
        </div>
    </div>
</div>